body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
}
.search-form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
}
.search-input{
    border: none;
    padding: 0.5rem 1rem;
    outline: none;
    font-size:0.9rem ;
}
.search-button {
    border: none;
    background-color: #007BFF;
    color:white;
    padding: 0 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.nav-logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: rgb(8, 155, 155);
    letter-spacing: 1px;
    text-decoration: none;
}
.nav-links {
    display: flex;
}
.nav-links li {
    margin-left: 1.5rem;
}
.nav-links a:hover {
    color: #007BFF;
}
main {
    padding: 2rem;
    background-color: #fff;
}
.news-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3,1fr);
}
.article-image {
    width: 100%;
    height: auto;
    display: block;
}
.article-card {
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}
.article-card:hover {
    transform: translateY(-5px);
}

.card-content {
    padding: 1rem;
}
.category {
    font-size: 0.7rem;
    color: #007BFF;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}
.card-content h3 {
    margin: 0;
    font-size: 1.2rem;
}
.card-content h3 a {
    color: #333;
}
.card-content h3 a:hover {
    text-decoration: underline;
}
footer {
    background-color: #333;
    color: #f4f4f4;
    padding: 2rem;
} 
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.footer-about {
    flex: 1;
    min-width: 250px;
    margin-bottom: 1.5rem;
}
.footer-links{
    flex: 1;
    min-width: 250px;
    margin-bottom: 1.5rem;
}
.footer-social{
    flex: 1;
    min-width: 250px;
    margin-bottom: 1.5rem;
}
footer h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
footer h4 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}
footer p {
    line-height: 1.6;
    color: #ccc;
}
footer ul{
    line-height: 1.6;
    color : #ccc
}
footer ul li {
    margin-bottom: 0.5rem;
}
footer ul a {
    color: #ccc;
    transition: color 0.2s
}
footer ul a:hover {
    color: #FFF;
}
.footer-bottom{
    text-align: center;
    padding-top: 1rem;
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 1.5rem;
    background-color: #222;
    padding: 1rem 0;
}